.error {
    color: red;
    margin-left: 20px;
}
.button {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.button:disabled {
    background-color: gray;
}
.form {
    padding: 10px;
}
.form-group {
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
}
.folder, .name {
    display: block;
}
.content{
    display: block;
    width: 100%;
}