  .Nav_list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
  }
  .add-button {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 5px;
  }
  .add-button:hover {
    border-color: #29862e;
    background-color: darkgrey;
    color: white;
  }
  
  .Nav-list-item {
    background-color: white;
    color: black;
    display: block;
    font-size: 20px;
    margin: 0 0 8px auto;
    padding: 8px 16px;
    text-decoration: none;
  }
  .Nav-list-item:hover {
    color: #FFB72F;
    cursor: pointer;
  }
  .Nav-list-item.active {
    background-color: lightgrey;
  }
  
  .num-notes {
    color: darkblue;
    display: block;
    float: right;
    font-size: 10px;
  }